# Log files
*.log
*.csv
report.html

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Windows specific
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
nmap-*.exe 